body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

#sky-gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(333deg, rgba(230,128,0,1) 25%, rgba(0,26,179,1) 80%);
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}

.cloud {
  position: absolute;
  z-index: 3;
  width: 20%;
  height: 20%;
  animation-name: cloudMovement;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 7.5%;
}

@keyframes cloudMovement {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(500%);
  }
}

#waves-0 {
  z-index: 1;
  position: absolute;
  animation-name: waves;
  animation-duration: 5.6s;
  animation-iteration-count: infinite;
  width: 150%;
  animation-timing-function: linear;
  display: block;
}

#waves-1 {
  z-index: 3;
  position:absolute;
  animation-name: waves;
  animation-duration: 9.6s;
  animation-iteration-count: infinite;
  width: 150%;
  animation-timing-function: linear;
  animation-direction: reverse;
}

#waves-2 {
  z-index: 3;
  position:absolute;
  animation-name: waves;
  animation-duration: 12.6s;
  animation-iteration-count: infinite;
  width: 150%;
  animation-timing-function: linear;
}

.wave-stroke {
  fill: #005F7E;
  stroke: white;
  stroke-width: 3px;
  opacity: .8;
}

@keyframes waves {
  25% {
    transform: translate(2.5%, 2.5%);
  }
  50% {
    transform: translate(0%, 5%);
  }
  75% {
    transform: translate(-2.5%, 2.5%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

#sand {
  fill: #e1bf92;
  width: 1800%;
  height: 50%;
  position: absolute;
  z-index: 3;
  bottom: 0;

}

#toolbar-container {
  position: absolute;
  z-index: 4;
  color: white;
  width: 30%;
  height: 30%;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(80%);
  transition: transform ease .5s;
}

#arrow {
  font-size: 4em;
  width: 15%;
  height: 20%;
  text-align: center;
  animation-name: breathingArrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes breathingArrow {
  0% {opacity: 5%}
  50% {opacity: 60%}
  100% {opacity: 5%}
}

#toolbar-container:hover {
  transform: translateY(0%);
}

#toolbar {
  width: 100%;
  height: 85%;
  background: rgb(255,255,255,.5);

}

.tool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.4em;
  color: black;
  font-size: 1.3em;
}
